<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img class="bg" src="./images/bg.jpg" alt="" inline>
		<img class="bg_arc" src="./images/bg_arc.jpg" alt="" inline>
		<img class="retina footer" src="./images/footer.png" alt="" inline>
		<img class="retina cta" src="./images/cta.png" alt="" inline>

		<img class="retina t1_a" src="./images/t1_a.png" alt="" inline>
		<img class="retina t1_b" src="./images/t1_b.png" alt="" inline>
		<img class="retina t1_c" src="./images/t1_c.png" alt="" inline>


		<img class="arc arc_sf" src="./images/arc_sf.png" alt="" inline>
		
		<img class="arc arc_ed" src="./images/arc_ed.png" alt="" inline>
		<img class="retina can can_sf whole" src="./images/can_sf.png" alt="" inline>
		
		

		

		<img class="retina can can_ed whole" src="./images/can_ed.png" alt="" inline>

		
		
		
		
	</div>
	<div class="frame frame2">
		<p class="t1">Did you know that it</p>
		<p class="t2">comes in white</p>
		<img class="phone white" src="../_common/images/phone-white.jpg" inline>
	</div>
</div>